/*=================================================
    LARGE / MEDIUM / SMALL MEDIA QUERIES
=================================================*/

/* large devices (desktops & laptops) */
@media (min-width: 1200px) {  
    /* good to go */
}
/* medium devices (landscape tablets & medium desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    /* good to go */
}
/* small devices (portrait tablets & small desktops) */
@media (min-width: 768px) and (max-width: 991px) {
    /* good to go */
}

/*=================================================
                EXTRA SMALL MEDIA QUERIES
=================================================*/

/* extra small devices (landscape phones & portrait tablets) */
@media (max-width: 767px) { 
    #company-logo img {
        width: 60%;
    }
    #countdown-timer .countdown {
        font-size: 2.0em !important;
    }
    #social-icons .fa {
        margin: 10px 7px 0 !important;
        font-size: 2.5em;
    }
}
@media (max-width: 575px) {
    #company-logo img {
        width: 50%;
    }
    #social-icons .fa {
        margin: 10px 5px 0 !important;
        font-size: 2.4em;
    }
    #signup .btn {
        margin-top: 15px;
    }
    #signup .form-control {
        width: 175px;
        margin: 0 auto;
    }
}
@media (max-width: 480px) {
    #countdown-timer .countdown {
        font-size: 1.8em !important;
    }
}   
@media (max-width: 320px) {   
    #company-logo img {
        width: 50%;
    }
    #countdown-timer .countdown {
        font-size: 1.3em !important;
    }
    #social-icons .fa {
        margin: 10px 3px 0 !important;
        font-size: 2.0em;
    }
}