/*=================================================
    full website
=================================================*/

html, body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height: 100%;

}

div p {
    color: white;
}

/*=================================================
    text / countdown-timer
=================================================*/

#introMessage p {
    padding-top: 20%;
/*font-family: 'Niramit', sans-serif;*/
    font-size: 1.8em;
    text-align: center;
    color: white;
        font-weight: 600;
        font-family: 'Nunito Sans', sans-serif;
    
}

#mainMessage p {
/*    font-family: 'Just Another Hand';*/
    font-size: 1.0em;
    text-align: center;
    color: white;
    margin: 10px 0 0;
        font-weight: 400;
}

#countdown-timer .countdown {
/*    font-family: 'Amatic SC', cursive;*/
    font-size: 2.0em;
    text-align: center;
    color: white;
    margin: 30px 0 10px 0px;
        font-family: 'Nunito Sans', sans-serif;
}

#copyMessage p {
/*    font-family: 'Just Another Hand';*/
    font-size: 0.8em;
    text-align: center;
    color: white;
}

/*=================================================
    signup
=================================================*/

#signup p{
    text-align: left;
    align-content: center;
    align-items: center;
    align-self: center;
}

#signup .form-inline {
    text-align: center;
    padding-bottom: 10px;
    padding-right: 0px;
    display: block;
}

#signup .btn {
    background-color: rgba(161, 186, 226, 0.4);
    color: white;
}

#signup .btn:hover {
    background-color: rgba(37, 165, 82, 0.75);
}

/*=================================================
    social icons
=================================================*/

#social-icons {
	position: absolute;
	width: 100%;
    color: #fff;
    line-height: 140px;
    font-size: 1.2em;
	text-align: center;
	bottom:0;
}

#social-icons .fab {
    margin: 5px 15px;
    bottom: 0;
    color: white;
    position: relative;
    transition: all 0.25s ease-in-out;
}

#social-icons .fas {
    margin: 5px 15px;
    bottom: 0;
    color: white;
    position: relative;
    transition: all 0.25s ease-in-out;
}

#social-icons .fa-github-square:hover {
    color: #6e5494;
    bottom: 5px;
}

#social-icons .fa-envelope-square:hover {
    color: #0199C4;
    bottom: 5px;
}

#social-icons .fa-google-drive:hover {
    color: #3D6EC9;
    bottom: 5px;
}

/*=================================================
    footer
=================================================*/

#copyMessage {
	position: absolute;
	width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.9em;
	text-align: center;
	bottom:0;
/*    background-color: rgba(3,8,47,0.4);;*/
}